/* Header and Avatar */
.vfrc-header {
    background-color: #2A4B5B; /* Match the blue color of the avatar box */
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.vfrc-avatar {
    width: 50px;
    height: 50px;
    background-color: #2A4B5B; /* Match the blue color of the avatar box */
    border-radius: 50%;
    margin-right: 10px;
}

.vfrc-assistant-info {
    color: #4A235A; /* Purple color for the header text */
    font-size: 18px;
    font-weight: bold;
}

/* Text Box */
.vfrc-chat--dialog {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.vfrc-system-response {
    background-color: #FFFFFF;
    color: #4A235A; /* Purple color for the header text */
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding: 15px;
}

/* Buttons */
.vfrc-button {
    background-color: #6A95C5; /* Light blue background */
    border: 1px solid #2A4B5B; /* Darker blue border */
    color: #FFFFFF; /* White text */
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.vfrc-button:hover {
    background-color: #4A235A; /* Purple on hover */
}
